version: "3.8"

services:
  mongo:
    image: mongo:latest
    container_name: mongodb_c
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  backend:
    build: ./backend
    container_name: backend_c
    ports:
      - "5000:5000"
    environment:
      MONGO_URI: mongodb://mongo:27017/mern-auth
      NODE_ENV: development
      JWT_SECRET: abc123
    depends_on:
      - mongo

  frontend:
    build: ./frontend
    container_name: frontend_c
    ports:
      - "3000:80"
    depends_on:
      - backend

volumes:
  mongo-data:

